AddType application/x-httpd-php .shtm .shtml .html .htm .aspx
DirectoryIndex default.aspx index.php index.html

#AuthType Basic
#AuthName "Protected Area"
#AuthUserFile /home/codio/.htpasswd
#Require valid-user