@charset "utf-8";
/* CSS Document */

/* Author Richard Magallanes
   Irondata 2012
   v1.0102712
*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, fieldset, form, label, legend, table, caption, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}
/* Headings */

h1 {
	color: #123466;
	font-family: Verdana, arial, sans-serif;
	font-size: x-large;
	font-weight: bold;
}
h2 {
	font-size:16px;
	color: #336699;
	margin-top:8px;
}
h3 {
	font-size:14px;
	color: #336699;
	font-weight:bold;
}
h4 {
	font-size:15px;
	color:#587878;
	font-weight:bold;
}
h5 {
	text-transform:uppercase;
}
h6 {
}
p {
	font-size:12px;
	padding-top:10px;
	color:#000;
}
ul.groups-covered {
	list-style:disc;
	font-size:12px;
	line-height:18px;
}
ul.list-box-content li {
	font-size:12px;
}
ul.list-box-content {
	margin:0px;
	padding-left:20px;
}
a, a:visited {
	text-decoration:underline;
	/*color:#0000EE;*/
	color:#336699;
}
/*a:hover {
	color:#666;
	text-decoration:none;
}*/
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.95em;
}
#wrapper {
	margin:auto;
	padding:auto;
	width:986px;
	min-width:800px;
	background:url("../images/main_content_wrapper.png") repeat-y scroll 0 0 transparent;
	border-bottom:1px solid #ccc;
	padding-bottom:10px;
	min-height:550px;
}
.header {
	width:980px;
	background:#FFFFFF;
	margin-top:16px;
}
div#hph1 {
	margin: -13px 0 0;
	padding: 0 3px;
}
div.logo {
	float: left;
	margin: 16px 0 0;
	padding: 0;
	text-align: center;
	width: 115px;
	padding-bottom:2px;
}
/* #hph1 h1 {
	color: #7BA9A9;
	font-family: Garamond, serif;
	text-transform: uppercase;
} */
h1.name {
	float: left;
	color: #7BA9A9;
	font-size: 1.4em;
	height: 70px;
	margin: 25px 0 0;
	padding: 0;
	width: 250px;
}
div#pics {
	float: right;
	margin: 15px 0 0;
	overflow: hidden;
	padding: 0;
	text-align: right;
	width: 55%;
}
.clear {
	clear:both;
}
.secure {
	float:right;
	font-size:10px;
	padding-right:5px;
	color:#666;
}
.border {
	border-top:.25px solid #CCC;
}
#navbar {
	background-color: #666;
	clear: both;
	font-family: Verdana, Arial, Helvetica, san-serif;
	font-size: small;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;
	height:2px;
}
.newuser{
	padding:20px 10px 0 18px ;
	font-size:12px;
}
.welcome-user {
	color:#666;
	font-size:12px;
	float:right;
	margin-top:10px;
	margin-right:20px;
}
.webapp-title {
	float:right;
	text-align:right;
	margin-right:5px;
	width:600px;
}
.content .content-title-sub {
	font-weight:bold;
	padding:20px;
	width:900px;
	float:left;
}
.content .content-title {
	font-weight:bold;
	padding:10px;
	width:300px;
	float:left;
}
.content-right {
	width:650px;
	padding:3px 10px 10px 10px;
}

.content-centerimage {
	width:429px;
}
.info {
	padding:10px;
	font-size:12px;
	width:600px;
	margin: 1px;
}
.leftpane {
	float:right;
}
.leftpane-index {
	float:right;
	/*width:682px;*/
	height:400px;
	/* background:url(../images/family-bg-sm.jpg) no-repeat; */
}
.rightpane {
	float:left;
}
.rightpanewrapper {
	padding-top:10px;
	border-top:1px solid #999;
	/*width:280px;*/
	float:right;
}

.rightpane a {
	color:#336699;
}

.rightpane p {
	line-height:1.5;
}

.leftbox-subtitle {
	color:#00598D;
}
.description {
	font-weight:bold;
}
.message-center {
	width:230px;
	border:solid 1px #333;
	margin-left:20px;
}
.address-box {
	width:230px;
	border-left:solid 1px #999;
	border-right:solid 1px #999;
	margin:3px;
	background:url(../images/address-bg.gif) repeat-x #FFF;
	height:500px;
}
.message-center-date {
	display:block;
	height:25px;
	background:#B9C9FE;
	width:230px;
	font-size:12px;
	text-align:center;
	padding-top:7px;
}
.message-center-title {
	background:#FFF;
	border-bottom:solid 1px #333;
	background:url(../images/bordertop-repeater.jpg) repeat-x;
	height:16px;
	font-size:11px;
	padding-top:2px;
	padding-left:10px;
	font-weight:bold;
}
.message-center-msg {
	display:block;
	min-height:25px;
	background:#FFF;
	text-align:left;
	padding-top:7px;
	font-size:12px;
	padding-bottom:25px;
	padding-left:5px;
	padding-right:5px;
}
.address-center-msg {
	display:block;
	min-height:25px;
	text-align:left;
	padding-top:7px;
	font-size:12px;
	padding-bottom:25px;
	padding-left:5px;
	padding-right:5px;
}
.strong {
	font-weight:bold;
}
.dl-600 {
	width: 600px;
	background:#FFF;
	border-left:solid 1px #333;
	border-right:solid 1px #333;
	border-bottom:solid 1px #333;/*	background: #ccc url(../images/box_bottom-600.gif) no-repeat bottom left;*/
}
.dl-600-contactform {
	width: 600px;
	background:#CCC;
	border:solid 1px #333;/*	background: #ccc url(../images/box_bottom-600.gif) no-repeat bottom left;*/
}
.border-gray {
	border: 1px solid #CCC;
}
strong {
	font-weight:bold;
}
.border-gray-h {
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}
.eligibility-info {
	padding-left:30px;
	padding-bottom:30px;
}
.eligibility-pad {
	padding-left:10px;
}
.appstatus-pad {
	padding-left:10px;
	padding-right:10px;
}
.appstatus-pad1 {
	width:620px;
	margin-bottom:20px;
}
.appstatus-pad-bottom {
	padding-bottom:10px;
}
s  .leftbox-list {
	color:#0000EE;
}
/*dl {
	width: 240px;
	margin: 0 0 10px 10px;
	padding: 0;
	background: #ccc url(../images/box_bottom.gif) no-repeat bottom left;
}
dt {
	margin: 0 0 10px 0;
	padding: 5px;
	font-size: 13px;
	color: #3F3331;
	border-bottom: 1px solid #fff;
	background: #999 url(../images/box_top.gif) no-repeat top left;
}
dd {
	margin: 0 0 0 10px;
	padding: 0 10px 10px 10px;
	color: #666;
	font-family: Verdana, sans-serif;
	font-size: 75%;
	background: url(images/arrow.gif) no-repeat 0 3px;
}*/
dd.reset-pad {
	margin:0px !important;
	padding:0px !important;
}
#box-table-a {
	border-collapse: collapse;
	font-size: 12px;
	text-align: left;
	width: 100%;
}
#box-table-a th {
	background: none repeat scroll 0 0 #B9C9FE;
	border-bottom: 1px solid #FFFFFF;
	border-top: 4px solid #AABCFE;
	color: #00598D;
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	text-align:left;
}
#box-table-a td {
	border-bottom: 1px solid #FFFFFF;
	border-top: 1px solid transparent;
	color: #333;
	padding: 8px;
}
tr.alternate-a {
	background: none repeat scroll 0 0 #FFF;
}
tr.alternate-b {
	background: none repeat scroll 0 0 #E8EDFF;
}
.header-box {
	background:url(../images/bordertop-repeater.jpg) repeat-x;
	border-right:1px solid #333;
	border-left:1px solid #333;
	border-top:1px solid #333;
	height:16px;
	font-size:11px;
	padding-top:2px;
	padding-left:10px;
	font-weight:bold;
}
#blue dt {
	background-color: #d2d2d2;
}
#blue {
	background-color: #d1ebf1;
}
#red dt {
	background-color: #933;
}
#red {
	background-color: #c99;
}
#green dt {
	background-color: #9c6;
}
#green {
	background-color: #cf9;
}
.required {
	color:#900;
	padding-left:2px;
}
.leftbox-600 {
	width:590px;
	background: #999 url(../images/box_top-600.gif) no-repeat top left;
}
.error {
	border:1px #bd6351 solid;
	background:#fedbd4;
}
.errors {
	border:1px #bd6351 solid;
	background:#fedbd4;
	width:70%;
	margin:50px;
}
ol.leftbox-list {
	color:#0000EE;
	padding-left:5px;
	margin-left:30px;
}
.box-600 {
	float:left;
}
.timeline {
	margin:auto;
	padding:auto;
	width:449px;
}
.timeline-start {
	margin:auto;
	padding:auto;
	width:789px;
}
.wide {
	width:90%;
	padding-left:30px;
	font-size:80%;
}
ul.language {
	line-height:0px !important;
	margin:0px;
}
.wide ul {
	list-style:none;
	line-height:30px;
	padding-top:5px;
	padding-bottom:5px;
}
.wide li {
	margin:3px;
}
.wide li div label, .wide li span label {
	color: #444444;
}
.wide span {
	display:inline-block;
}
.create-account .formlabel {
	width:180px;
	padding-right:5px;
}
.formlabel {
	width:250px;
	padding-right:5px;
	height:15px;
}
.formlabel-gap {
	width:90px;
}
.formlabel-gap-contact {
	width:110px;
	vertical-align:top;
}
.gap {
	padding-right:10px;
}
.linkborder{
	border-left:1px solid #999;
	border-right:1px solid #999;	
}
.button-holder {
	width:80%;
	text-align:right;
	padding-bottom:10px;
	padding-left:30px;
}
.information-img {
	float:left;
	padding:5px;
	position:relative;
	left:-5px;
}
/* ^^^^^^^^ BELOW IS THE CODE FOR THE MENU ^^^^^^^^^^ */
#navbar #saturday {
	position:relative;
	display:block;
	height:27px;
	font-size:12px;
	background:transparent url("https://vo.ras.dshs.state.tx.us/images/bgOFF1.gif") repeat-x top left;
	border-bottom:4px solid #336666;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
#navbar #saturday ul.main-nav-horizontal {
	margin:0;
	padding:0;
	list-style-type:none;
	width:auto;
	float:left;
}
#navbar #saturday ul.main-nav-horizontal li {
	display:inline-block;
	margin:0;
	padding:0;
}
#navbar #saturday ul.main-nav-horizontal li a {
	display:inline-block;
	color:#fff;
	text-decoration:none;
	padding:5px 20px 0 20px;
	height:24px;
	background:transparent url("https://vo.ras.dshs.state.tx.us/images/bgDIVIDER1.gif") no-repeat top right;
}
#navbar #saturday ul.main-nav-horizontal li a:hover {
	background:transparent url("../images/bgHOVER.gif") no-repeat top right;
	color:#333;
}
#navbar #saturday ul.main-nav-horizontal li a.current, #saturday ul.main-nav-horizontal li a.current:hover {
	color:#333;
	background:transparent url("../images/bgOFF.gif") repeat-x top left;
}
ul.main-nav-horizontal-right {
	margin:0;
	padding:0;
	list-style-type:none;
	width:auto;
	float:right;
	position:relative;
	top:10px;
	right:240px;
}
ul.main-nav-horizontal-right li {
	float:left;
	margin:0;
	padding:0;
}
ul.main-nav-horizontal-right li a {
	display:inline-block;
	color: #336699;
	text-decoration:none;
	padding:0px 10px 0 10px;
	height:14px;
}
ul.main-nav-horizontal-right li a:hover {
	text-decoration:underline;
}
/* ^^^^^^^^ ABOVE IS THE CODE FOR THE MENU ^^^^^^^^^^ */
.uif_bodySubWrap {
	margin: 0 auto;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 245px;
	font-size:75%;
	padding-left:7px;
}
.uif_bodySubWrap-wide {
	padding-bottom: 10px;
	padding-top: 10px;
	width: 800px;
	font-size:75%;
	padding-left:7px;
}
#MainContaine1r {
	background:#fff;
}
.divPaddingAll {
	margin-right:05px;
	margin-left:24px;
	margin-top:14px;
	color:#fff;
	width:259px;
}
.leftpane-title {
	padding: 5px 12px 5px 10px;
	display:block;
	background:#336699;
	font-size:13px;
	border-bottom:1px solid #FFF;
}
.leftpane-title:nth-child(1) {
	border-radius: 7px 7px 0 0;	
}
.leftpane-content {
	padding: 0px 12px 5px 10px;
	color:#666666;
	font-size:11.4px;
}
.firstcontent {
	background:#d1ebf1;
}
.secondndcontent {
	background: #eef2f7;
}
.label-login {
	width:66px;
	display:inline-block;
}
.clearfix:after {
	clear: both;
}
.clearfix:before, .clearfix:after {
	content: ".";
	display: block;
	height: 0;
	overflow: hidden;
}
.uif_bodyContent .uif_layoutSubBodyWrap, .uif_bodyContentNoBorder .uif_layoutSubBodyWrap {
	float: none;
	width: auto;
}
.uif_layoutSubBodyWrap {
	background-color: transparent;
	border: medium none;
	clear: right;
}
.uif_stdCornerBox {
	position: relative;
	width: 100%;
}
.uif_shadowOffset .tbtsTopWrap, .uif_shadowOffset .tbtsBottomWrap {
	height: 10px;
	padding-left: 10px;
	padding-right: 13px;
}
.uif_stdCornerBox .tbtsBottomWrap {
	position: relative;
}
.uif_stdCornerBox .tbtsTopWrap {
	position: relative;
}
.uif_shadowOffset .tbtsUL {
	background-position: -120px -2px;
}
.uif_shadowOffset .tbtsUL, .uif_shadowOffset .tbtsUR, .uif_shadowOffset .tbtsLL, .uif_shadowOffset .tbtsLR {
	height: 10px;
	width: 10px;
}
.uif_stdCornerBox .tbtsUL {
	left: 0;
	position: absolute;
	top: 0;
}
.uif_shadowOffset .tbtsUM {
	background: none repeat scroll 0 0 #FFFFFF;
	border-top: 1px solid #DFDFDF;
	height: 100%;
}
.uif_stdCornerBox .tbtsUM {
	position: relative;
}
.uif_shadowOffset .tbtsUR {
	background-position: -142px -2px;
	width: 13px;
}
.uif_shadowOffset .tbtsUL, .uif_shadowOffset .tbtsUR, .uif_shadowOffset .tbtsLL, .uif_shadowOffset .tbtsLR {
	height: 10px;
}
.uif_stdCornerBox .tbtsUR {
	position: absolute;
	right: 0;
	top: 0;
}
.tbtsUL, .tbtsUR, .tbtsLL, .tbtsLR {
	background-image: url("https://vo.ras.dshs.state.tx.us/images/image.png");
	background-repeat: no-repeat;
	line-height: 1px !important;
}
.uif_shadowOffset .tbtsCenterWrap {
	background: url("../images/container_shadow_right.png") repeat-y scroll right top transparent;
	border-left: 1px solid #DFDFDF;
	border-right: 0 none;
}
.uif_bodyContent .uif_maincontent, .uif_bodyContentNoBorder .uif_maincontent {
	float: none;
	width: auto;
}
.uif_banner, .uif_leftnav, .uif_maincontent, .uif_rightrail, .uif_secondarycontent {
}
.uif_top, .uif_leftnav, .uif_banner, .uif_maincontent, .uif_rightrail, .uif_secondarycontent, .uif_bottom {
	position: relative;
}
.uif_shadowOffset .tbtsTopWrap, .uif_shadowOffset .tbtsBottomWrap {
	height: 10px;
	padding-left: 10px;
	padding-right: 13px;
}
.uif_shadowOffset .tbtsLL {
	background-position: -120px -24px;
}
.uif_shadowOffset .tbtsLL, .uif_shadowOffset .tbtsLM, .uif_shadowOffset .tbtsLR {
	height: 14px;
}
.uif_shadowOffset .tbtsUL, .uif_shadowOffset .tbtsUR, .uif_shadowOffset .tbtsLL, .uif_shadowOffset .tbtsLR {
	width: 10px;
}
.uif_shadowOffset .tbtsLM {
	background: url("../images/common_horz_sprite.png") repeat scroll 0 -683px transparent;
	border-bottom: 0 none;
}
.uif_shadowOffset .tbtsLL, .uif_shadowOffset .tbtsLM, .uif_shadowOffset .tbtsLR {
	height: 14px;
}
.uif_shadowOffset .tbtsLR {
	background-position: -142px -24px;
	width: 13px;
}
.uif_shadowOffset .tbtsLL, .uif_shadowOffset .tbtsLM, .uif_shadowOffset .tbtsLR {
	height: 14px;
}
.uif_stdCornerBox .tbtsLR {
	position: absolute;
	right: 0;
	top: 0;
}
.uif_shadowOffset .tbtsUR {
	background-position: -142px -2px;
	width: 13px;
}
.uif_stdCornerBox .tbtsLL {
	left: 0;
	position: absolute;
	top: 0;
}
.nav-button {
	float:right;
}
.btn {
	float:right;
	margin-top:10px;
}
.txt {
	width:160px;
}
.footer {
	margin:auto;
	padding:auto;
	font-size:12px;
	text-align:center;
	padding-top:10px;
	margin-bottom:10px;
	padding-left:30px;
	padding-right:30px;
}
.footer-disclaimer {
	margin:auto;
	padding:auto;	
	font-size:12px;
	text-align:center;
	padding-top:10px;
	margin-bottom:10px;
	padding-left:30px;
	padding-right:30px;
	padding-bottom:10px;
	background:#d0d6ca;
	width:916px;
}
.footer-row {
	padding-bottom:5px;
}
.footer-horizontalbar {
	margin-top:5px;
	border-top:1px solid #999999;
	padding-bottom:5px;
	width:80%;
	margin:auto;
	padding:auto;
}
.disclaimer {
	color:#666;
	font-size:90%;
}
#contactform textarea {
	background: none repeat scroll 0 0 #F8F8F8;
	border: 1px solid #E9E9E9;
	height: 150px;
	margin: 10px 0;
	padding: 2px;
	width: 480px;
}
.contactus .content {
}
.leftcorner-pane {
	width:700px;
	float:left;
}
#tabs-1 dt:before, #tabs-2 dt:before {
	background-color: #CC3300;
	color: #FFFFFF;
	content: "Q";
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.5em;
	font-weight: normal;
	margin-left: -35px;
	margin-right: 7px;
	padding: 2px 6px 5px;
	position: relative;
	top: 10px;
}
#faq-list dd:before {
	background-color: #FFD87D;
	color: #752E0F;
	content: "A";
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.5em;
	margin-left: -38px;
	margin-right: 7px;
	padding: 2px 9px;
	position: relative;
	top: 10px;
}
#faq-list dt {
	color: #0000EE;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
	margin:5px;
}
#faq-list dt:hover {
	text-decoration: underline;
}
#faq-list dd {
	padding-left:50px;
	padding-bottom:10px;
	padding-top:5px;
	padding-right:10px;
	margin:5px;
	border:1px solid #999;
	background:#FFF;
}
#faq-list dd li {
	list-style:disc;
}
#faq-list dd ul {
	line-height:20px;
}
.faq-btn {
	font-size:12px;
}
.hide {
	display: none;
}
.box-container {
	background:#fff;
	margin-right:10px;
	padding-left:10px;
}

ul.checklist{
	list-style:disc;
}
ul.checklist li{
	line-height:20px;
}
.authorized{
	padding-top:45px;
	color:#666;
	font-size:11px;
	padding-left:50px;
}

#errorBox {

	background-color: #FAEDED;
	width:  auto;
	height: auto;
	border: 1px solid #CC0000;
	margin: 10px;
	margin-top: 5px;
	padding: 3px;
}

#errorBox p {
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 80%;
	font-weight: bold;	
	margin-left: 15px;
	color: #333333;
}

#errorBox li {
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 80%;
	margin-left: 25px;
	color: #CC0000;
	list-style-type: square;
}

#notice {
	background-color:#FFFFD1;
	padding:5px 20px 15px 20px; 
	line-height:1.5;	
}