
html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, fieldset, form, label, legend, table, caption, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-size: 100%;
	vertical-align: baseline;
}
h1 {
	color: #123466;
	font-family: Verdana, arial, sans-serif;
	font-size: x-large;
	font-weight: bold;
}
h2 {
	font-size:16px;
	color: #336699;
}
h3 {
	font-size:14px;
	color: #336699;
	font-weight:bold;
	margin-top:10px;
}
h4 {
	font-size:15px;
	color:#587878;
	font-weight:bold;
}
h5 {
	text-transform:uppercase;
}

h6 {
}
p {
	font-size: 12px;
	padding-top: 10px;
	color: rgb(0, 0, 0);
}
a, a:visited {
	text-decoration: underline;
	color: rgb(51, 102, 153);
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.95em;
}
#wrapper {
	margin: auto;
	width: 986px;
	min-width: 800px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(204, 204, 204);
	padding-bottom: 10px;
	min-height: 550px;
	background: url(http://ecology-sandra.codio.io:3000/vo/images/main_content_wrapper.png) 0px 0px repeat-y scroll transparent;
}
.header {
	width: 980px;
	background: rgb(255, 255, 255);
}
div#hph1 {
	margin: -13px 0px 0px;
	padding: 0px 3px;
}
h1.logo {
	float: left;
	margin: 16px 0px 0px;
	padding: 0px 0px 2px;
	text-align: center;
	width: 115px;
}
#hph1 h1 {
}
.clear {
	clear: both;
}
.border {
	border-top-width: 0.25px;
	border-top-style: solid;
	border-top-color: rgb(204, 204, 204);
}
#navbar {
	clear: both;
	font-family: Verdana, Arial, Helvetica, san-serif;
	font-size: small;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	text-align: center;
	width: 100%;
	height: 2px;
	background-color: rgb(102, 102, 102);
}
.newuser {
	padding: 20px 10px 0px 18px;
	font-size: 12px;
}
.content .content-title-sub {
	font-weight: bold;
	padding: 20px;
	width: 900px;
	float: left;
}
.content .content-title {
	font-weight: bold;
	padding: 10px;
	width: 300px;
	float: left;
}
.content-right {
	width: 650px;
	padding: 3px 10px 10px;
}
.info {
	padding: 10px;
	font-size: 12px;
	width: 600px;
	margin: 1px;
}
.leftpane-index {
	float: right;
	height: 400px;
}
.rightpane {
	float: left;
}
.rightpanewrapper {
	padding-top: 10px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: rgb(153, 153, 153);
	float: right;
}
.rightpane a {
	color: rgb(51, 102, 153);
}
.rightpane p {
	line-height: 1.5;
}
strong {
	font-weight: bold;
}
.required {
	color: rgb(153, 0, 0);
	padding-left: 2px;
}
.linkborder {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: rgb(153, 153, 153);
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: rgb(153, 153, 153);
}
.information-img {
	float: left;
	padding: 5px;
	position: relative;
	left: -5px;
}
#navbar #saturday {
	position: relative;
	display: block;
	height: 27px;
	font-size: 12px;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: rgb(51, 102, 102);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background: url(https://vo.ras.dshs.state.tx.us/images/bgOFF1.gif) 0% 0% repeat-x transparent;
}
#navbar #saturday ul.main-nav-horizontal {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	width: auto;
	float: left;
}
#navbar #saturday ul.main-nav-horizontal li {
	display: inline-block;
	margin: 0px;
	padding: 0px;
}
#navbar #saturday ul.main-nav-horizontal li a {
	display: inline-block;
	color: rgb(255, 255, 255);
	text-decoration: none;
	padding: 5px 20px 0px;
	height: 24px;
	background: url(https://vo.ras.dshs.state.tx.us/images/bgDIVIDER1.gif) 100% 0% no-repeat transparent;
}
#navbar #saturday ul.main-nav-horizontal li a:hover {
	color: rgb(51, 51, 51);
	background: url(http://ecology-sandra.codio.io:3000/vo/images/bgHOVER.gif) 100% 0% no-repeat transparent;
}
#navbar #saturday ul.main-nav-horizontal li a.current, #saturday ul.main-nav-horizontal li a.current:hover {
	color: rgb(51, 51, 51);
	background: url(http://ecology-sandra.codio.io:3000/vo/images/bgOFF.gif) 0% 0% repeat-x transparent;
}
ul.main-nav-horizontal-right {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	width: auto;
	float: right;
	position: relative;
	top: 10px;
	right: 240px;
}
ul.main-nav-horizontal-right li {
	float: left;
	margin: 0px;
	padding: 0px;
}
ul.main-nav-horizontal-right li a {
	display: inline-block;
	color: rgb(51, 102, 153);
	text-decoration: none;
	padding: 0px 10px;
	height: 14px;
}
ul.main-nav-horizontal-right li a:hover {
	text-decoration: underline;
}
.divPaddingAll {
	margin-right: 5px;
	margin-left: 24px;
	margin-top: 14px;
	color: rgb(255, 255, 255);
	width: 259px;
}
.leftpane-title {
	padding: 5px 12px 5px 10px;
	display: block;
	font-size: 13px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(255, 255, 255);
	background: rgb(51, 102, 153);
}
.leftpane-title:nth-child(1) {
	border-radius: 7px 7px 0px 0px;
}
.leftpane-content {
	padding: 0px 12px 5px 10px;
	color: rgb(102, 102, 102);
	font-size: 11.4px;
}
.secondndcontent {
	background: rgb(238, 242, 247);
}
.label-login {
	width: 66px;
	display: inline-block;
}
.btn {
	float: right;
	margin-top: 10px;
}
.txt {
	width: 160px;
}
.footer {
	margin: auto auto 10px;
	font-size: 12px;
	text-align: center;
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
}
.footer-disclaimer {
	margin: auto auto 10px;
	font-size: 12px;
	text-align: center;
	padding: 10px 30px;
	width: 916px;
	background: rgb(208, 214, 202);
}
.footer-row {
	padding-bottom: 5px;
}
.footer-horizontalbar {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: rgb(153, 153, 153);
	padding-bottom: 5px;
	width: 80%;
	margin: auto;
}
.contactus .content {
}